.login_wrp{
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    padding: 3rem 0 2rem;
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; */
}
.login_wrp h1{
    color: #000;
font-size: 30px;
font-family: Inter;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.login_wrp p{
    color: #8692A6;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
}
.login_wrp p span{
    display: block;
}

.login_wrp form{
    margin: 20px 0;
}

.login_wrp form p{
 color: #696F79;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
}

.login_wrp form input{
    margin: 15px 0;
}
.login_wrp form select{
    margin: 15px 0;
}

.login_wrp form .inputs:focus{
    border-radius: 6px;
border: 1px solid #1565D8;
background: #FFF;
box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
}

.login_wrp form  button{
    border-radius: 6px;
background: #2C73EB;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 100%;
border: none;
padding: 23px;
margin-top: 2rem;
}

/* .login_wrp .resg{} */
.login_wrp .resg h6{
    color: #696F79;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.login_wrp .resg h6 a{
    color: #2C73EB !important;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
}